<p id="notice"><%= notice %></p>

<%= title 'Ingredients' %>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.name %></td>
        <td class="action"><%= link_to 'Edit', edit_ingredient_path(ingredient) %></td>
        <td class="action"><%= link_to 'Destroy', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= success_link_to 'New Ingredient', new_ingredient_path %>
