<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= highlight(dish.name, search) %>
    </h3>
  </div>

  <div class="panel-body">
    <p>
      <i class="glyphicon glyphicon-tag"></i>
      <%= dish.category.name %>

      <i class="glyphicon glyphicon-hourglass"></i>
      <%= dish.prepare_time %>min

      <i class="glyphicon glyphicon-usd"></i>
      <%= dish.price %>
    </p>

    <% if dish.ingredients.length > 0 %>
      <p>
        <strong>Ingredients: </strong>
        <%= dish.ingredients.map(&:name).join(", ") %>
      </p>
    <% end %>
  </div>
</div>