<p id="notice"><%= notice %></p>

<%= title 'Dishes' %>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Restaurant</th>
      <th>Category</th>
      <th>Name</th>
      <th>Ingredients</th>
      <th>Prepare time</th>
      <th>Price</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @dishes.each do |dish| %>
      <tr>
        <td><%= dish.restaurant.name %></td>
        <td><%= dish.category.name %></td>
        <td><%= dish.name %></td>
        <td>
          <ul>
            <% dish.ingredients.each do | ingredient | %>
              <li><%= ingredient.name %></li>
            <% end %>
          </ul>
        </td>
        <td><%= dish.prepare_time %></td>
        <td><%= dish.price %></td>
        <td class="action"><%= link_to 'Edit', edit_dish_path(dish) %></td>
        <td class="action"><%= link_to 'Destroy', dish, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= success_link_to 'New Dish', new_dish_path %>
