<p id="notice"><%= notice %></p>

<%= title @dish.name %>

<p>
  <strong>Prepare time:</strong>
  <%= @dish.prepare_time %>
</p>

<p>
  <strong>Price:</strong>
  <%= @dish.price %>
</p>

<%= link_to 'Edit', edit_dish_path(@dish) %> |
<%= link_to 'Back', dishes_path %>
